@import "../../assets/colors.scss";
.chats {
  display: flex;
  &__sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    padding: 16px 0;
    box-sizing: border-box;

    width: 30%;
    height: 100vh;
    background-color: #282828;

    &__header {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      &-icon {
        width: 60px;
        height: 60px;
      }
      &-text {
        width: 150px;
        height: 150px;
      }
    }

    &__profile {
      position: relative;
      display: flex;
      align-items: center;
      gap: 16px;

      width: 90%;
      box-sizing: border-box;

      border-radius: 16px;

      padding: 16px;
      background-color: rgba($color: #fff, $alpha: 0.05);

      transition: 0.2s ease;

      &.user {
        cursor: pointer;
      }

      &.selected {
        background-color: rgba($orange-color, 0.2);
      }

      &-name {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
      &-displayname {
        color: #ff6b00;
        font-size: 20px;
        font-weight: 600;

        &.selected {
          color: #fff;
        }
      }
      &-email {
        color: rgba($color: #fff, $alpha: 0.4);
        font-size: 14px;
      }
      &-edit {
        background: none;
        border: none;
        position: absolute;
        right: 16px;
        top: 16px;
        cursor: pointer;
      }
      &-signout {
        background: none;
        border: none;
        position: absolute;
        bottom: 16px;
        right: 16px;
        cursor: pointer;
      }

      &-edit:hover path,
      &-signout:hover path {
        fill: $orange-color;
      }

      &-btn-icon {
        & path {
          fill: rgba($color: #fff, $alpha: 0.4);
          transition: 0.4s ease;
        }
      }
    }
    &__title {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
    }
  }

  &__content {
    position: relative;
    width: 70%;
    height: 100vh;
    background-color: #242424;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    padding: 16px;

    &__header {
      display: flex;
      justify-content: center;
      align-items: center;

      gap: 16px;
      height: 80px;
      background-color: rgba(#fff, 0.05);
      border-radius: 16px;

      color: rgba(#fff, 0.6);
      font-weight: 700;
      font-size: 24px;

      &-icon {
        width: 60px;
        height: 60px;
      }
    }
  }

  &__send-message {
    bottom: 0;
    width: 100%;
    height: 60px;

    background-color: #242424;

    box-sizing: border-box;
    padding: 16px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    & input {
      background-color: #fff;
      width: 95%;
      height: 35px;
      border-radius: 16px;
      padding: 0 8px;

      box-sizing: border-box;
    }

    &__button {
      right: 16px;

      background: $orange-color;
      border: none;
      border-radius: 100%;
      height: 35px;
      width: 35px;

      cursor: pointer;

      & path {
        fill: rgba($color: #fff, $alpha: 0.6);
        transition: 0.4s ease;
      }
      &:hover path {
        fill: #fff;
      }
    }
  }

  &__messages {
    overflow-y: auto;
    height: calc(100vh - 80px);
    box-sizing: border-box;
    padding: 16px;
  }

  &__message {
    display: flex;
    align-items: center;
    gap: 8px;

    margin: 16px 0;
    &.received {
      justify-content: flex-start;
    }
    &.sent {
      justify-content: flex-end;
    }

    & img {
      &.receiver {
        order: 0;
      }
      &.sender {
        order: 1;
      }
    }

    &-bubble {
      padding: 8px 16px;
      color: #fff;

      &.received {
        background-color: rgba($color: #fff, $alpha: 0.25);

        border-top-left-radius: 16px;
        border-bottom-right-radius: 16px;
        border-top-right-radius: 16px;
      }
      &.sent {
        background-color: $orange-color;

        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        border-top-right-radius: 16px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .chats {
    &__sidebar {
      width: 30%;
      &__header {
        &-icon {
          width: 40px;
          height: 40px;
        }
        &-text {
          display: none;
        }
      }
      &__profile {
        flex-direction: column;
        gap: 4px;
        & img {
          width: 35px;
          height: 35px;
        }
        &-edit {
          top: 8px;
          left: 8px;
        }
        &-signout {
          top: 8px;
          bottom: auto;
          right: 8px;
        }
        &-name {
          justify-content: center;
          align-items: center;
        }
        &-email {
          font-size: 12px;
        }
      }
    }
    &__content {
      width: 70%;
    }
    &__messages {
      padding: 2px;
    }
    &__send-message {
      padding: 4px;
      gap: 8px;
    }
  }
}
